$height: 100dvh;
$default-width: 11.25rem;
$text-content-config-width: 23.75rem;

$collapse-will-change: width, opacity, visibility;
$collapse-transition-property: width, opacity, visibility;
$collapse-transition-duration: 350ms;
$collapse-transition-timing-function: ease-out;
