:host {
  height: 100%;
}

.page-web__wrapper {
  .shared-global-loader {
    position: absolute;
    z-index: 2;
  }

  .shared-account-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-web__wrapper {
    .shared-account-menu {
      display: block;
      position: absolute;
      top: 1.75rem;
      right: 1.75rem;
      z-index: 1;
    }
  }
}
