@use 'components/sidebar-desktop' as sidebarDesktop;

:host {
  height: 100%;

  .shared-sidebar-desktop {
    display: none;
  }
}

.page-web__wrapper {
  .shared-global-loader {
    position: absolute;
    z-index: 2;
  }

  .shared-account-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  $padding: 0.75rem;

  :host {
    .shared-sidebar-desktop {
      display: block;
    }

    &.sidebar-desktop-collapsed .page-web__wrapper {
      padding: $padding;
    }
  }

  .page-web__wrapper {
    padding: $padding $padding $padding 0;

    will-change: padding;
    transition-property: padding;
    transition-duration: sidebarDesktop.$collapse-transition-duration;
    transition-timing-function: sidebarDesktop.$collapse-transition-timing-function;

    .page-web-content__wrapper {
      background-color: var(--background-neutral-main);

      border-radius: 1rem;
      border: 0.078rem solid var(--stroke-neutral-disabled);
      box-shadow: 0 0.25rem 1.0375rem 0 rgba(0, 0, 0, 0.03);
    }

    .shared-account-menu {
      display: block;
      position: absolute;
      top: 1.75rem;
      right: 1.75rem;
      z-index: 1;
    }
  }
}
