.page-web-main-desktop-view-popular-tools__wrapper {
  gap: 1.25rem;

  .page-web-main-desktop-view__popular-tools-list {
    gap: 0.75rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
