.sidebar-mobile-burger-menu__tabs {
  padding: 0.75rem;
  margin-top: 0.75rem;
  gap: 0.5rem;

  .sidebar-mobile-burger-menu__tab {
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.75rem;

    will-change: background-color;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;

    &-title {
      color: var(--text-neutral-tertiary);
      font-family: var(--font-inter);
      line-height: 1.375rem;
    }

    .sidebar-mobile-burger-menu__tab-icon svg path {
      will-change: fill;
      transition-property: fill;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }

    &.active {
      background-color: var(--background-neutral-primary);
    }
  }
}
