html,
body {
  height: 100%;
  width: 100%;
  font-style: normal;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-neutral-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  padding-top: 3.75rem; // sidebar mobile height
  background-color: var(--background-neutral-main);
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 0;
    background-color: var(--background-neutral-gray);
  }
}
