html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-neutral-primary);
  font-style: normal;
  font-family:
    'Inter',
    -apple-system,
    serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
