html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-neutral-main);
  font-style: normal;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-neutral-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
