@let templateState = state;

<div
  class="shared-sidebar-desktop__wrapper"
  [ngClass]="{
    'default-view': !templateState.isAnyToolSelected,
    'text-content-config': templateState.isTextContentToolSelected,
  }"
>
  @if (!templateState.isAnyToolSelected) {
    <div class="shared-sidebar-desktop-default-view"></div>
  } @else {
    @if (templateState.isTextContentToolSelected) {
      <div class="sidebar-text-content-config"></div>
    }

    @if (templateState.isVisualCreationToolSelected) {
      <div class="sidebar-visual-creation-config"></div>
    }

    @if (templateState.isAutomationToolSelected) {
      <div class="sidebar-automation-config"></div>
    }
  }
</div>
