@let isAnyToolSelected = state.isAnyToolSelected();
@let isTextContentToolSelected = state.isTextContentToolSelected();

<div
  class="shared-sidebar-desktop__wrapper"
  [class.default-view]="!isAnyToolSelected"
  [class.text-content-config]="isTextContentToolSelected"
>
  @if (!isAnyToolSelected) {
    <div class="shared-sidebar-desktop-default-view"></div>
  } @else {
    @if (isTextContentToolSelected) {
      <div class="shared-sidebar-desktop-text-content-config"></div>
    }

    @if (state.isVisualCreationToolSelected()) {
      <div class="shared-sidebar-desktop-visual-creation-config"></div>
    }

    @if (state.isAutomationToolSelected()) {
      <div class="shared-sidebar-desktop-automation-config"></div>
    }
  }
</div>
